{% extends "myfirstapp/main.html" %}

{% block title %}Mon Formulaire{% endblock %}

{% block content %}
    <h1>Mon Incroyable Formulaire</h1>
    <form action="/myfirstapp/bonjour" method="GET">
        {% csrf_token %}
        <div class="champ">
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom">

            <label for="prenom">Prenom : </label>
            <input type="text" name="prenom" id="prenom">

            <input type="submit" value="Envoyer">
        </div>
    </form>
{% endblock %}