<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mon Formulaire</title>
</head>
<body>
    <h1>Mon Incroyable Formulaire</h1>
    <form action="/myfirstapp/bonjour" method="GET">
        {% csrf_token %}
        <div class="champ">

            <label for="text">Nom : </label>
            <input type="text" name="nom" id="text">

            <input type="submit" value="Envoyer">
        </div>
    </form>
</body>
</html>